//color
$white: #fff;
$myBtn: #555;//hover btn backTop
$pink: #bb21ab;
$bgchart:#FFF7FE;
$tag-a: #333333;
$black:#000000;
$input:#cbd6e2;
$err:red;

// font-weight
$fw4:400;
$fw6:600;
$fw8:800;

//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px
);